# Server
PORT=5001

# Redis configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

# Compiler service concurrency
COMPILER_CONCURRENCY=3

# Submission handling concurrency
SUBMISSION_CONCURRENCY=2